* {
	transition: all .5s ease;
}
body {
	font-family: 'Arial', sans-serif;
	width: 100%;
	height: 100%;	
}
div {
	display: block;
}

h2 {
	color: #F54307;
}

h3 {
	color: #F54307;
}
img {
	border: 0;
	vertical-align: middle;
}
ul {
	box-sizing: border-box;
}
ul, ol {
    margin: 20px 0;
    padding-left: 18px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.ul_left li {
    float: left;
}
.ul_reset li {
    margin-left: 0;
    padding-left: 0;
}
p, ul li, ol li {
	font-size: 20px;
	font-family: Arial;
	line-height: 1.3;
}
:after, :before {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 1200px)
.container {
	width: 1024px;
}
@media (min-width: 992px)
.container {
	width: 900px;
}
@media (min-width: 768px)
.container {
	width: 750px;
}
@media (max-width: 768px)
.col-sm-8 {
	width: 66.6666667%;
	float: right;
}
@media only screen and (min-width: 992px)
.section1 .box {
	padding: 20px 40px 20px 20px;
	background: rgba(240, 245, 247, 0.5);
}
@media only screen and (min-width: 768px)
.section1 {
	padding: 180px 0 90px;
}
.col-sm-8 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 66.6666667%;
	float: right;
}
.container {
	width: 1024px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.col-sm-12 {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.ul_left li {
	float: left;
}
.ul_set {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ul_set li {
	margin-left: 0;
	margin-right: 0;
}
.customerSupport {
	display: block;
    clear: both;
    float: right!important;
}
header {
	position: fixed;
	width: 100%;
	top: 0;
	text-align: center;
	background: rgba(0, 0, 0, .6);
	z-index: 3;
	transition: all .25s ease-in-out;
}
header .header-wrap {
	padding: 20px 0;
}
header .logo {
	float: left;
	margin-right: 50px;
	width: 175px;
}
header .logo img {
	width: 100%;
	height: auto;
}
header .ul_set {
	margin: 0;
	padding: 0;
	list-style: none;
}
header .nav {
	float: left;
}
header .nav ul {
	display: block;
}
header .nav ul li {
	display: inline-block;
	padding: 0 15px 0 5px;
	font-size: 20px;
	color: #F0E441;
}
header .nav ul li a {
	text-decoration: none;
	color: #F0E441;
	/*padding: 8px;*/
	font-variant: small-caps;
	display: block;
}
header .nav ul li a:hover {
	text-decoration: underline;
	color: #F0E441;
}
header .right-nav {
	float: right;
	text-align: right;
}
header .right-nav div {
	float: right;
	clear: both;
}
header .right-nav div a {
	color: #F0E441;
}
header .right-nav div a:hover {
	color: #F0E441;
}
header .right-nav ul li a:hover {
	text-decoration: underline;
	color: #F0E441;
}
header .right-nav .ul_set {
	float: right;
}
header .right-nav .yellow {
	color: #F0E441;
}
header .right-nav .yellow.seperator {
	padding: 0 5px;
}
header .right-nav li, header .right-nav a {
	font-size: 12px;
}
aside {
	position: absolute;
    margin-left: 75px;
	margin-top: 50px;
	width: 200px;
	text-align: center;
	background-color: #F0E441;
	color: #C40A20;	
	padding: 10px;
	font-family: times;
	font-size: 20px;
	border: 4px solid #666;
	opacity: .6;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
div {
	display: block;
}
.border-block {
	border-left: 3px solid #fff;
	padding-left: 24px;
}
.section1 {
	width: 100%;
	height: 700px;
	background-image:url("images/is-coffee-paleo_4.jpg");
	background-size:cover;
	background-repeat: none;
	position: relative;
	padding: 180px 0 90px;
	border-bottom: 1px solid #fff;
}
.section1 .box:after {
	display: block;
    content: "";
    position: absolute;
    left: calc(100% - 15px);
    top: 0;
    width: 17vw;
    height: 100%;
    background: rgba(204, 175, 165, 0.3);
}
.box {
	padding: 10px 40px 20px 2px;
	background: rgba(204, 175, 165, 0.3);
}
.box p {
	color: #fff;
}
.box h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 200;
	line-height: 1;
	margin-bottom: 20px;
}
.section2 {
	width: 100%;
	height: 700px;
	background-image: url("images/london-coffee-festival.jpg");
	background-size:cover;
	background-repeat: none;
	position: relative;
	border-bottom: 1px solid #fff;
	padding: 90px;
}
.section2 .border-block {
	color: #fff;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 20px;
}
.s2-box {
	margin-top: 10px;
}
.s2-box h1 {
	color: #fff;
	font-size: 36px;
	font-weight: 200;
}
.btn--yellow {
	font-size: 14px;
    line-height: 17px;
    color: #fff;
    background: #F0E441;
    border-radius: 0;
}
.btn--arrow {
	padding-right: 30px;
}
.btn {
	position: relative;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.btn--arrow:after {
	display: block;
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 13px;
    height: 13px;
    background-image: url("/images/arrow-right.png") no-repeat;
}
.section3 {
	width: 100%;
	height: 400px;
	background-image:url("images/coffeetree.jpg");
	background-size:cover;
	background-repeat: none;
	position: relative;
	border-bottom: 1px solid #fff;
}
.section3 p {
	color: #8F2D0D;
	font-family: Georgia;
	font-size: 20px;
}

.section3 p a {
	color: #A1D490;
}

.section4 {
	width: 100%;
	height: 600px;
	background-image:url("images/morning-coffee.jpg");
	background-size:cover;
	background-repeat: none;
	position: relative;
	padding-top: 40px;
	border-bottom: 1px solid #fff;
}
.section4 .col-sm-8 {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 85.666667%;
    float: left;
}
.section4 .box:before {
	display: block;
    content: "";
    position: absolute;
    right: calc(100% - 15px);
    top: 0;
    width: 40vw;
    height: 100%;
    background: rgba(204, 175, 165, 0.3);
}
.section5 {
	width: 100%;
	height: 300px;
	background-image:url("images/coffee-beans.jpg");
	background-size:cover;
	background-repeat: none;
	position: relative;
	border-bottom: 1px solid #fff;
}
.section5 .s5-links {
	margin: 0 20px;
}
.section5 h1 {
	color: #fff;
	font-size: 36px;
	font-weight: 200;
}
.section5 .s5-links .s5-box {
	margin-top: 30px;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
}
#footerMain {
    position: relative;
    padding: 40px 0 20px;
    background: #A87F71;
    font-size: 10px;
    color: #fff;
}
@media only screen and (min-width: 768px)
#footerContact ul {
    display: inline-block;
    float: right;
    clear: both;
}
#footerContact {
    padding-top: 20px;
}
#footerMain ul.ul_left {
    display: inline-block;
    vertical-align: middle;
}
#footerMain ul.ul_left li {
    padding: 0 1px;
}
footer #footerHolder {
}
#footerNav li, #footer_extra li, #footerNav li a, #footer_extra li a {
    color: #fff;
    font-size: 10px;
}
#social-media ul {
    width: 100%;
    margin: 10px 0;
}
