body {
	font-family: 'Arial', sans-serif;
	/*background-color: #C2785F;*/
	
}

header .container {
	background: #AB5538;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;

}

.hero-container {
	width: 100%;
	height: 550px;
	/*background-image: url("images/coffeetree.jpg");
	background-repeat: none;
	background-size: cover;*/
	position: relative;
}
.hero-nav {
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 20px;
	background-color: black;
	opacity: .6;
	position: relative;
}

.hero-nav ul {
	float: right;
	display: block;
}

.hero-nav ul li {
	display: inline-block;
	padding: 0 15px 0 5px;
	font-size: 20px;
	
}

.hero-nav ul li a {
	text-decoration: none;
	color: #F0E441;
	padding: 8px;
	font-variant: small-caps;
	display: block;
}

.hero-nav ul li a:hover {
	background-color: #F0E441;
	color: #fff;
}

.hero-nav ul li ul li {
	display: none;
}

.hero-nav ul li:hover ul li {
	display: block;
	background-color: black;
}

.hero-images>img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.hero-images>.btn {
	position: absolute;
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 25px;
	margin: 5px;
	top: 275px;
}

.hero-images>#btn2 {
	position: relative;
	float: right;
}
aside {
	position: relative;
	width: 200px;
	text-align: center;
	background-color: #F0E441;
	color: #C40A20;
	margin-top: 300px auto;
	padding: 10px;
	float: right;
	font-family: times;
	font-size: 20px;
	border: 4px solid #666;
	opacity: .6;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

h1 {
	color: #F54307;
}
h2 {
	color: #F54307;
}

h3 {
	color: #F54307;
}

.body1 p {
	color: #8F2D0D;
	font-family: Georgia;
	font-size: 20px;
}

.body1 p a {
	color: #A1D490;
}

.body1 {

}